In [1]:
#imports 
import pandas as pd
import numpy as np

#reading csv
data = pd.read_csv(
    'song_data.csv', 
     names =['user_id', 'song_id', 'listen_count', 'title', 'artist'])

data.head()

,user_id,song_id,listen_count,title,artist
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Jack Johnson
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Entre Dos Aguas,Paco De Lucia
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Stronger,Kanye West
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Constellations,Jack Johnson
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Learn To Fly,Foo Fighters

# Gerando um outro dataframe

In [2]:
#gerando um novo data Frame
df = data[['user_id','song_id']]

#renomeando as colunas
#df.columns = ['user_id', 'song_id']
df.head()

                                    user_id             song_id
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBYHAJ12A6701BF1D
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODACBL12A8C13C273

In [3]:
#salvando em csv com header = [teste1, teste2]
df.to_csv('testecar.csv')

#salvando o dado cru
#df.to_csv('teste.csv', header=False)

In [9]:
#gerando um array em numpy

df_arr = np.array(df)
print(df_arr[0:5])

[[1 'Jack Johnson']
 [2 'Paco De Lucia']
 [1 'Kanye West']
 [1 'Jack Johnson']
 [1 'Foo Fighters']]

In [10]:
len(df_arr)

1116609