In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('song_data.csv')
data.head()

,user_id,song_id,listen_count,title,artist
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Jack Johnson
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Entre Dos Aguas,Paco De Lucia
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Stronger,Kanye West
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Constellations,Jack Johnson
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Learn To Fly,Foo Fighters

# Gerando um outro dataframe, e gerando um array

In [20]:
df = data[['listen_count','title']]
df.head()

   listen_count            title
0             1         The Cove
1             2  Entre Dos Aguas
2             1         Stronger
3             1   Constellations
4             1     Learn To Fly

In [22]:
df_arr = np.array(df)
print(df_arr[0:5])

[[1 'The Cove']
 [2 'Entre Dos Aguas']
 [1 'Stronger']
 [1 'Constellations']
 [1 'Learn To Fly']]