In [1]:
#imports 
import pandas as pd
import numpy as np

#reading csv.
#A primeira coluna eh o rank. por isso index_col=0 
dfcar = pd.read_csv('testecar.csv',index_col=0)
dfcar.head()

                                    user_id             song_id
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBYHAJ12A6701BF1D
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODACBL12A8C13C273

In [2]:
dfcdr = pd.read_csv('teste.csv',index_col=0)
dfcdr.head()

   contagem        artista
0         1   Jack Johnson
1         2  Paco De Lucia
2         1     Kanye West
3         1   Jack Johnson
4         1   Foo Fighters

# Vamos fazer o merge dos data frames dfcar e dfcdr

In [3]:
dfcar.tail()

                                          user_id             song_id
1116604  276e43ad698705e5011e5091f367d951b21246f5  SOWTYVO12AB0180BDA
1116605  276e43ad698705e5011e5091f367d951b21246f5  SOWZHOY12A6701F9FC
1116606  276e43ad698705e5011e5091f367d951b21246f5  SOXJOZW12A6701E90E
1116607  276e43ad698705e5011e5091f367d951b21246f5  SOXNKNC12A6701F7A8
1116608  276e43ad698705e5011e5091f367d951b21246f5  SOYRMVO12A6701D106

In [4]:
dfcdr.tail()

         contagem                  artista
1116604         8                   Weezer
1116605         1                 Megadeth
1116606         7  Queens Of The Stone Age
1116607         1               Rob Zombie
1116608         1                 Godsmack

In [5]:
#primeiro vamos criar dois dataframes para adcionar as tabelas originais
new_music = pd.DataFrame({'contagem':[2,50],
                          'artista': ['Vive la Fete', 'Diplo']})
new_id = pd.DataFrame({'user_id':['b80344d063b5ccb3212f76538f3d9e43d87dca9e', 'b80344d063b5ccb3212f76538f3d9e43d87dca9e'],
                          'song_id': ['SOAKIMP12A8C130993','SOAKIMP12A8D130992']})

In [6]:
new_id

              song_id                                   user_id
0  SOAKIMP12A8C130993  b80344d063b5ccb3212f76538f3d9e43d87dca9e
1  SOAKIMP12A8D130992  b80344d063b5ccb3212f76538f3d9e43d87dca9e

In [7]:
new_music

        artista  contagem
0  Vive la Fete         2
1         Diplo        50

In [8]:
#Note que nao esta na ordem certa. Podemos arrumar isso
cols = new_id.columns.tolist()
new_id= new_id[cols[::-1]]
cols = new_music.columns.tolist()
new_music= new_music[cols[::-1]]

In [9]:
new_id

                                    user_id             song_id
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130993
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8D130992

In [10]:
new_music

   contagem       artista
0         2  Vive la Fete
1        50         Diplo

In [11]:
#agora vamos adicionar os novos dfs no final de
#dfcar e dfcdr
dfcar = pd.concat([dfcar,new_id],ignore_index=True,)
dfcdr = pd.concat([dfcdr,new_music],ignore_index=True,)

In [12]:
dfcar.tail()

                                          user_id             song_id
1116606  276e43ad698705e5011e5091f367d951b21246f5  SOXJOZW12A6701E90E
1116607  276e43ad698705e5011e5091f367d951b21246f5  SOXNKNC12A6701F7A8
1116608  276e43ad698705e5011e5091f367d951b21246f5  SOYRMVO12A6701D106
1116609  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130993
1116610  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8D130992

In [13]:
dfcdr.tail()

         contagem                  artista
1116606         7  Queens Of The Stone Age
1116607         1               Rob Zombie
1116608         1                 Godsmack
1116609         2             Vive la Fete
1116610        50                    Diplo

In [14]:
#O modo mais slimpes de juntar os dfs
df = dfcar.join(dfcdr,lsuffix='_dfcar',rsuffix='_dfcdr')
df.head()

,user_id,song_id,contagem,artista
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,Jack Johnson
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Paco De Lucia
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Kanye West
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Jack Johnson
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Foo Fighters

Um modo de juntar os dois df eh usando a funcao merge. Para isso eh preciso ter uma coluna em comum entre os dfs. Assim, adicionamos uma coluna index fazemos o merge nessa coluna, e depois eliminamos a coluna. Isso funciona pois os dados estao pareados pela ordem.

In [15]:
dfcar['index'] = dfcar.index
dfcdr['index'] = dfcdr.index
df = pd.merge(dfcar,dfcdr, on=['index'])
df.drop('index', 1, inplace=True)
df.head()

,user_id,song_id,contagem,artista
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,Jack Johnson
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Paco De Lucia
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Kanye West
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Jack Johnson
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Foo Fighters

# Usando pickle com pandas

In [17]:
df.to_pickle('teste.pickle')
teste = pd.read_pickle('teste.pickle')
teste.head()

,user_id,song_id,contagem,artista
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,Jack Johnson
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Paco De Lucia
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Kanye West
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Jack Johnson
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Foo Fighters