# Quebrando o dataframe em outros dataframes

In [29]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
import time

df = pd.read_pickle('teste.pickle')
df.tail()

,user_id,song_id,contagem,artista
1116606,276e43ad698705e5011e5091f367d951b21246f5,SOXJOZW12A6701E90E,7,Queens Of The Stone Age
1116607,276e43ad698705e5011e5091f367d951b21246f5,SOXNKNC12A6701F7A8,1,Rob Zombie
1116608,276e43ad698705e5011e5091f367d951b21246f5,SOYRMVO12A6701D106,1,Godsmack
1116609,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130993,2,Vive la Fete
1116610,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8D130992,50,Diplo

In [2]:
#usando uma lista com indexes aleatorios da metade do tamanho do df original
#podemos selecionar um subframe:
size = len(df['artista'])
new_index = random.sample(range(size), int(size/2))

In [3]:
new_df = df.loc[new_index]
new_df.head()

,user_id,song_id,contagem,artista
325893,ccfbea776958e5a6f3fb455b05dea5e43c18e1ad,SOUBXHB12A81C231CC,1,Days Of The New
818047,fe9bb82ec95bfea7f84ffbbc2da5ee779b1240a0,SOSIZEN12A67020911,2,3 Doors Down
272721,64db6e675e2e35021d8549f805ae2eb37251ed0a,SOIZLKI12A6D4F7B61,3,Muse
517810,603e2ad2f271ed3dd7fd5a15ddfed7dda10936e7,SOUCPUM12A81C20BC5,1,Soulja Boy Tell'em
915400,4e95fdb4ec15a416d07111f2f1fe811259aae978,SOUNZHU12A8AE47481,3,Ron Carter

In [4]:
#Podemos criar uma nova lista de index, e guardar os indexes antigos
new_df.reset_index(inplace=True)
new_columns = new_df.columns.values
new_columns[0] = 'old_index'
new_df.columns = new_columns
new_df.head()

,old_index,user_id,song_id,contagem,artista
0,325893,ccfbea776958e5a6f3fb455b05dea5e43c18e1ad,SOUBXHB12A81C231CC,1,Days Of The New
1,818047,fe9bb82ec95bfea7f84ffbbc2da5ee779b1240a0,SOSIZEN12A67020911,2,3 Doors Down
2,272721,64db6e675e2e35021d8549f805ae2eb37251ed0a,SOIZLKI12A6D4F7B61,3,Muse
3,517810,603e2ad2f271ed3dd7fd5a15ddfed7dda10936e7,SOUCPUM12A81C20BC5,1,Soulja Boy Tell'em
4,915400,4e95fdb4ec15a416d07111f2f1fe811259aae978,SOUNZHU12A8AE47481,3,Ron Carter

In [56]:
#Aqui geramos df para cada usuario. 
users = df['user_id'].unique()
teste = df.loc[df['user_id'] == users[1000]]
teste.head()

,user_id,song_id,contagem,artista
16968,f0e549312b6a25b8ceecbce10786c733b9509591,SOAUFID12A8C13AF6C,10,LeAnn Rimes
16969,f0e549312b6a25b8ceecbce10786c733b9509591,SOBJCFV12A8AE469EE,1,Kings Of Leon
16970,f0e549312b6a25b8ceecbce10786c733b9509591,SOBTVDE12AF72A3DE5,11,Incubus
16971,f0e549312b6a25b8ceecbce10786c733b9509591,SOCWMMA12AB018157B,1,Miley Cyrus
16972,f0e549312b6a25b8ceecbce10786c733b9509591,SODWANZ12A8C134AF5,1,La Oreja de Van Gogh

In [34]:
#Podemos fazer o mesmo para os items
songs = df['song_id'].unique()

#dicionario com song:dataframe
dic_of_songs = {}

#dicionario com song:total_count
dic_song_count = {}

start_time = time.time()
for i, song in enumerate(songs):
    dic_of_songs[song] = df.loc[df['song_id'] == song]
    dic_song_count[song] = np.sum(dic_of_songs[song]['contagem'])
    if i%100 == 0:
        print(i, end=' ')

duration = time.time() - start_time
    
print('Duration: %.3f sec' % duration)

0 100 200 300 400 500 600 700 800 900 1000 1100 1200 1300 1400 1500 1600 1700 1800 1900 2000 2100 2200 2300 2400 2500 2600 2700 2800 2900 3000 3100 3200 3300 3400 3500 3600 3700 3800 3900 4000 4100 4200 4300 4400 4500 4600 4700 4800 4900 5000 5100 5200 5300 5400 5500 5600 5700 5800 5900 6000 6100 6200 6300 6400 6500 6600 6700 6800 6900 7000 7100 7200 7300 7400 7500 7600 7700 7800 7900 8000 8100 8200 8300 8400 8500 8600 8700 8800 8900 9000 9100 9200 9300 9400 9500 9600 9700 9800 9900 10000 Duration: 905.836 sec

In [41]:
#com isso podemos formar um novo dataframe contendo song_id e contagem total
nomes = list(dic_song_count.keys())
counts = [dic_song_count[song] for song in nomes]
new = pd.DataFrame({'song_id': nomes,
                       'total_count':counts})
new.head()

              song_id  total_count
0  SOHQFNK12A6701C0B9         1421
1  SOJUERX12AB0184DE1           53
2  SOAMNGZ12A6D4F8702          310
3  SOIUSBC12AC46890FE          273
4  SODVNLX12A8C145145          178

In [50]:
#Sorteamos o df pelo total count
new.sort_values('total_count',ascending=False, inplace=True)
new.head()

                 song_id  total_count
682   SOBONKR12A58A7A7E0        40619
662   SOAUWYT12A81C206F1        36059
4179  SOSXLTC12AF72A7F54        30391
8540  SOEGIYH12A6D4FC0E3        21953
4350  SOFRQTD12A81C233C0        21646

Depois disso eu fiz o merge do new com o data frame original. Como eu havia colocado duas novas observacoes, eu tive que fazer uns ajustes para conseguir fazer o merge e gerar o dataframe dfs

In [85]:
dfs.head()

,song_id,title,artist,total_count
0,SOBONKR12A58A7A7E0,You're The One,Dwight Yoakam,40619
1,SOAUWYT12A81C206F1,Undo,Björk,36059
2,SOSXLTC12AF72A7F54,Revelry,Kings Of Leon,30391
3,SOEGIYH12A6D4FC0E3,Horn Concerto No. 4 in E flat K495: II. Romanc...,Barry Tuckwell/Academy of St Martin-in-the-Fie...,21953
4,SOFRQTD12A81C233C0,Sehr kosmisch,Harmonia,21646

In [87]:
dfs.tail()

,song_id,title,artist,total_count
9997,SOOUXUD12AB0188D97,Jumpers (Album),Sleater-kinney,17
9998,SOBZVFU12A6702162C,Accidntel Deth (Album Version),Rilo Kiley,16
9999,SOBDQMB12AB0189045,Younger Than Springtime,William Tabbert,14
10000,SOPWWHY12A58A7B015,Hubcap,Sleater-kinney,12
10001,SOAKIMP12A8C130993,collection,Vive la Fete,2